
@model List<Category>
@{
    ViewData["Title"] = "Index";
}
@{
 
}



<h2>Categories</h2>
<ul>

    @foreach (var category in (List<Task_2.Models.Category>)ViewData["cat"])
    {
        <li>@category.Id</li>
        <li>@category.Name</li>
        <li>@category.Description</li>
    }
</ul>
